*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
}
h1{
    font-weight: bold;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body.mask::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.container{
    margin: 0 auto;
    width: 73.4375vw;
}
.main-container{
    padding: 2.6vw 5.2vw;
}
.main__title{
    color: #022161;
    font-size: 2.8vw;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5vw;
    margin: 0;
    margin-bottom: 4.16vw;
}
.stories-panel{
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 2vw rgba(2, 33, 97, 0.25);
    min-height: 3.9vw;
    align-items: stretch;
}
.stories-filter{
    display: flex;
    padding: 0 1.8vw;
}
.stories-filter__list{
    display: flex;
    list-style-type: none;
    align-items: stretch;
    margin: 0;
}
.stories-filter__list-item{
    display: flex;
    align-items: stretch;
    text-transform: uppercase;
}
.stories-filter__link{
    display: flex;
    min-width: 7.3vw;
    align-items: center;
    justify-content: center;
    font-size: 0.78vw;
    color: #022161;
    text-transform: uppercase;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
    text-decoration: none;
    padding: 0.26vw 0.5vw;
}
.stories-filter__link.active{
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    border-bottom: 0.26vw solid #CDDC00;
}
.stories-filter__link:hover{
    text-decoration: none;
    color: #022161;
}
.stories-panel__search-container{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}
.stories-panel__search{
    border-left: 1px solid rgba(2, 33, 97, 0.1);
    display: flex;
    padding: 0.5vw 1.3vw;
    align-items: stretch;
    flex-grow: 1;
}
.story-search__label{
    display: flex;
    align-items: stretch;
    position: relative;
    flex-grow: 1;
    padding: 0 0 0 2vw;
    margin: 0;
}
.story-search__label::before{
    position: absolute;
    top: 50%;
    margin-top: -0.5vw;
    left: 0;
    width: 1vw;
    height: 1vw;
    background-image: url('../image/search.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.story-search__input{
    flex-grow: 1;
    font-size: 0.78vw;
    color: #727272;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
    border: none;
    text-transform: uppercase;
}
.main-btn{
    min-width: 15.36vw;
    color: #fff;
    font-size: 1vw;
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    padding: 1.19vw;
    background-color: #727272;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: #CDDC00;
    color: #022161;
}
.stories-panel__btn{
    max-width: 17.18vw;
    font-size: 0.93vw;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}
.stories{
    display: grid;
    margin-top: 3.125vw;
    grid-gap: 1.56vw;
    grid-template-columns: repeat(3, minmax(17.5vw, 1fr));
}
.story-card{
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 21.875vw;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(2, 33, 97, 0.15);
    z-index: 1;
    position: relative;
}
.story-card__photo{
    width: 100%;
    height: 17.5vw;
    position: relative;
    padding: 0.78vw 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #727272;
}
.story-card__author{
    display: flex;
    align-items: stretch;
}
.story-card__author-photo{
    border: 0.1vw solid #fff;
    border-radius: 50%;
    width: 2.39vw;
    height: 2.39vw;
    z-index: 4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    margin-right: 0.78vw;
}
.story-card__author-name{
    font-size: 0.78vw;
    z-index: 4;
    color: #fff;
    text-transform: uppercase;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
    text-decoration: none;
}
.story-card__metrics{
    margin-left: auto;
    display: flex;
}
.story-card__like-container{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
.story-card__comments-container{
    display: flex;
}
.like-icon{
    display: block;
    width: 1.3vw;
    height: 1.3vw;
    -webkit-background-size: cover;
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    background-image: url(https://runandwin.ru//alleyaslavy/images/like-icon.svg);
}
.story-card__icon{
    margin-right: 0.5vw;
}
.story-card__like-count,
.story-card__comment-count{
    color: #fff;
    font-size: 0.93vw;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}
.comment-icon{
    display: block;
    width: 1.3vw;
    height: 1.3vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://runandwin.ru//alleyaslavy/images/comment-icon.svg);
}
.sticker{
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 5%;
    width: 31.32%;
    height: auto;
}
.sticker--card {
    width: 31.32%;
    right: 5%;
    top: 5%;
}
.story-card__text{
    width: 100%;
    padding: 1vw;
    padding-bottom: 0;
    margin-bottom: 1vw;
    background-color: #fff;
    font-size: 0.84vw;
    height: 5.46vw;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #000000;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
}
/*Modal window*/
.modal {
    height: auto;
}
.load-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 58.43vw;
    min-height: 10.41vw;
    padding: 2.6vw 7.81vw;
    margin: 0 auto;
    top: 2.6vw;
    left: 50%;
    margin-left: -29.215vw;
    z-index: 11;
    margin-bottom: 4.16vw;
    background-color: #fff;
}

.load-modal__close-btn {
    display: block;
    cursor: pointer;
    width: 1.61vw;
    height: 1.61vw;
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
    z-index: 4;
}

.load-modal__close-btn::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.13vw;
    margin-left: -0.15vw;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1.98vw;
    height: 0.26vw;
    background-color: #022161;
}

.load-modal__close-btn::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.13vw;
    margin-left: -0.15vw;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 1.98vw;
    height: 0.26vw;
    background-color: #022161;
}

.load-modal__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.load-modal__content-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.load-modal__title {
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Graphik Web Bold", "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: #022161;
    font-size: 1.875vw;
    text-transform: uppercase;
}

.load-modal__description {
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: #022161;
    font-size: 1.25vw;
}

.load-modal__dragndrop-form-container {
    display: flex;
    justify-content: center;
}

.load-modal__dragndrop-form {
    position: relative;
    margin-bottom: 1vw;
    width: 31.92vw;
    height: 24.21vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.load-modal__dragndrop-area {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    background-color: #F4F8F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-modal__photo-img {
    width: 4.27vw;
    height: 3.38vw;
    margin-bottom: 1.56vw;
}

.load-modal__dragndrop-area-desc {
    margin: 0;
    font-size: 0.93vw;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
    color: #727272;
    text-align: center;
}
.load-modal__dragndrop-area-desc--blue {
    color: #356EFF;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}
.load-modal__filter-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.load-modal__filters {
    margin-right: 1vw;
}
.load-modal__filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vw;
}
.load-modal__filters-desc {
    margin: 0;
    margin-right: 1vw;
    color: #022161;
    font-size: 0.93vw;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}
.load-modal__filters-item {
    display: block;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    margin-right: 1vw;
    width: 1.77vw;
    height: 1.77vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/alleyaslavy/images/preview-square.jpg);
    flex-shrink: 0;
}
.filter-icon {
    background-color: #F4F8F7;
}

.load-modal__stickers-desc {
    margin: 0;
    margin-right: 1vw;
    color: #022161;
    font-size: 0.93vw;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}

.load-modal__stickers-container-inner {
    display: flex;
    align-items: center;
    overflow-y: auto;
    max-width: 13.02vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.load-modal__stickers-container {
    display: flex;
    align-items: center;
    max-width: 13.02vw;
}
.main-btn {
    min-width: 15.36vw;
    color: #fff;
    font-size: 1vw;
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    padding: 1.19vw;
    background-color: #727272;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: #CDDC00;
    color: #022161;
}
.load-modal__filter-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.load-modal__crop-container {
    /*display: none;*/
    justify-content: center;
}
.load-modal__btn-container {
    display: flex;
    margin-top: 2.24vw;
    justify-content: flex-end;
    width: 100%;
}
.load-modal-edit__btn {
    margin-right: 1.3vw;
}
.main-btn {
    min-width: 15.36vw;
    color: #fff;
    font-size: 1vw;
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    padding: 1.19vw;
    background-color: #727272;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: #CDDC00;
    color: #022161;
}
.alt-btn.not-active {
    pointer-events: none;
    cursor: default;
}
.alt-btn {
    min-width: 15.36vw;
    color: #fff;
    font-size: 1vw;
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    padding: 1.19vw;
    background-color: #727272;
    outline: none;
    border: none;
    text-transform: uppercase;
}
.load-modal__filter-container.disabled::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}
.load-modal__progress-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6vw;
}
.load-modal__progress-bar-percents {
    font-size: 1.19vw;
    margin: 0;
    margin-right: 0.5vw;
    color: #022161;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
}

.load-modal__progress-bar-full {
    width: 50%;
    height: 0.625vw;
    position: relative;
    background-color: #F4F8F7;
}
.load-modal__progress-bar-indicator {
    height: 0.625vw;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.3125vw;
    background-color: #CDDC00;
}
.thumb{
    width: 100%;
    height: 100%;
}
.load-modal__dragndrop-form-textarea {
    width: 100%;
    height: 100%;
    padding: 1vw 1.3vw;
    font-size: 0.83vw;
    color: #000;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
    background-color: #F4F8F7;
    border: none;
    resize: none;
}

/*Auth*/

.login-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.32vw;
    z-index: 13;
    background-color: #fff;
    padding: 4.16vw 5.2vw;
    margin: 0 auto;
    left: 50%;
    margin-left: -18.225vw;
    width: 36.45vw;
}
.load-modal__close-btn {
    display: block;
    cursor: pointer;
    width: 1.61vw;
    height: 1.61vw;
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
    z-index: 4;
}
.login-modal__content {
    display: flex;
    flex-direction: column;
}
.login-modal__title {
    font-family: "Graphik Web Semibold", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    margin-bottom: 2vw;
}

.load-modal__title {
    margin: 0;
    margin-bottom: 1vw;
    font-family: "Graphik Web Bold", "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: #022161;
    font-size: 1.875vw;
    text-transform: uppercase;
}
.login-modal__social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.login-modal__social-btn {
    width: 3.125vw;
    height: 3.125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #022161;
    margin-right: 0.67vw;
}
.login-modal__social-btn:last-child {
    margin-right: 0;
}
.login-modal__social-btn--asics {
    border-radius: 1.56vw;
    width: 7.08vw;
}

.login-modal__social-decsription {
    margin-bottom: 1.82vw;
    margin-top: 0;
    text-align: center;
    font-size: 0.83vw;
    color: #727272;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
}
.login-modal__allerts {
    text-align: center;
    font-size: 1vw;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
}
.login-modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-modal__label {
    width: 100%;
    position: relative;
    margin-bottom: 0.78vw;
}
.login-modal__label--email::before {
    width: 1vw;
    height: 0.78vw;
    margin-top: -0.39vw;
    background-image: url(/alleyaslavy/images/email-icon.svg);
}

.login-modal__label::before {
    content: "";
    z-index: 2;
    display: block;
    position: absolute;
    left: 1.19vw;
    top: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.login-modal__input {
    position: relative;
    width: 100%;
    border: none;
    background-color: #F4F8F7;
    padding: 1.3vw 1.8vw 1.3vw 2.76vw;
    font-size: 0.93vw;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
    color: #727272;
}
.login-modal__label--pass::before {
    width: 1vw;
    height: 1vw;
    margin-top: -0.5vw;
    background-image: url(/alleyaslavy/images/password-icon.svg);
}
.login-modal__register-offer {
    font-size: 0.83vw;
    text-align: center;
    color: #727272;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
    margin-top: 1.25vw;
    margin-bottom: 0;
}
.login-modal__register-offer a {
    cursor: pointer;
    color: #022161 !important;
    font-family: "Graphik Web Medium", "Arial", "Helvetica", sans-serif;
    text-decoration: none;
}
.login-modal__register-offer {
    font-size: 0.83vw;
    text-align: center;
    color: #727272;
    font-family: "Graphik Web Regular", "Arial", "Helvetica", sans-serif;
    margin-top: 1.25vw;
    margin-bottom: 0;
}
.login-modal__input_error{
    border: 1px solid red;
}